.container {
  display: grid;
  grid-template-columns: repeat(18, auto);
  background-color: darksalmon;
  gap: 5px;
}

.column {
  background-color: peachpuff;
  display: grid;
  grid-auto-rows: minmax(35px, 40px);
  grid-auto-columns: minmax(70px, 90px);
  max-width: 1px;
}

.grid-item {
  background-color: lightgoldenrodyellow;
  text-align: center;
  border: 1px solid black;
  font-size: 12px;
}
.grid-item1 {
  display:hidden;
}
.grid-item::after {
  content: attr(data-element);
  display: block;
  font-size: 10px;
}
.grid-item::before {
  content: attr(data-atomic-number);
  display:block;
  font-size:10px;
}
.PT {
  display: none;
}
img {
  @media screen and (max-width: 800px) {
    display: block;
    width: 80%;
    height: auto;
  }
}
@media screen and (max-width: 960px) {
  /* Breakpoint 1: Adjust styles for smaller screens */
  .container {
    color: navy;
    background-color: lightskyblue;
    row-gap: 1px;
    column-gap: 1px;
  }
}

@media screen and (max-width: 800px) {
  /* Breakpoint 2: Hide the grid when screen width is 800px or less */
  .container {
    display: none;
  }
  .PT {
    display: block;
    text-align: center;
    margin: 5px auto;
  }
}
/*above makes the picture appear only when the screen size drops below 800px*/
